In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
num_schools = school_data['school_name'].count()

# Calculate the total number of students
num_students = student_data['student_name'].count()

# Calculate the total budget
total_budget = school_data['budget'].sum()

# Calculate the average math score
avg_math = student_data['math_score'].mean()

# Calculate the average reading score
avg_reading = student_data['reading_score'].mean()

# Calculate the percentage of students with a passing math score (70 or greater)
math_pass = student_data[student_data['math_score'] >= 70].count()['student_name']
percent_math_pass = (math_pass / num_students) * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = student_data[student_data['reading_score'] >= 70].count()['student_name']
percent_reading_pass = (reading_pass / num_students) * 100

# Calculate the percentage of students who passed math and reading (% Overall Passing)
num_pass_both = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)].count()['student_name']
percent_pass_both = (num_pass_both / num_students) * 100

# Create a dataframe to hold the above results
district_summary = pd.DataFrame(
    {"Total Schools": [num_schools],
    "Total Students": num_students,
    "Total Budget": total_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "% Passing Math": percent_math_pass,
    "% Passing Reading": percent_reading_pass,
    "% Overall Passing": percent_pass_both})

# maybe do optional

In [3]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
# group by school
schools_group = school_data_complete.groupby("school_name")

In [5]:
# find the passing percentage for each school
per_math = []
per_reading = []
per_overall = []
names = []

for name,group in schools_group:
    names.append(name)
    current_school = schools_group.get_group(name)
    students = current_school['student_name'].count()
    
    math = current_school[current_school['math_score'] >= 70].count()['student_name']
    percent_math_passing = (math / students) * 100
    per_math.append(percent_math_passing)
    
    reading = current_school[current_school['reading_score'] >= 70].count()['student_name']
    percent_reading_passing = (reading / students) * 100
    per_reading.append(percent_reading_passing)

    overall = current_school[(current_school['math_score'] >= 70) & (current_school['reading_score'] >= 70)].count()['student_name']
    percent_pass_overall = (overall / students) * 100
    per_overall.append(percent_pass_overall)

In [6]:
passing_percentage = pd.DataFrame({
    'school_name': names,
    'per_math': per_math,
    'per_reading': per_reading,
    'per_overall': per_overall
})
passing_percentage_groups = passing_percentage.groupby("school_name")

In [7]:
# create series for each column
schools_type = schools_group.type.nth(0)
total_students = schools_group.student_name.count()
total_school_budget = schools_group.budget.nth(0)
per_student_budget = total_school_budget / total_students
average_math_score = schools_group.math_score.mean()
average_reading_score = schools_group.reading_score.mean()
per_math_pass = passing_percentage_groups.per_math.sum()
per_reading_pass = passing_percentage_groups.per_reading.sum()
per_overall_pass = passing_percentage_groups.per_overall.sum()

In [8]:
# Create a dataframe to hold the above results
school_summary = pd.DataFrame({'School Type': schools_type,
                               'Total Students': total_students,
                               'Total School Budget': total_school_budget,
                               'Per Student Budget': per_student_budget,
                              'Average Math Score': average_math_score,
                              'Average Reading Score': average_reading_score,
                              '% Passing Math': per_math_pass,
                              '% Passing Reading': per_reading_pass,
                              '% Overall Passing': per_overall_pass})
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [10]:
top_overall_passing = school_summary.sort_values('% Overall Passing', ascending=False)
top_overall_passing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [11]:
bottom_overall_passing = school_summary.sort_values('% Overall Passing', ascending=True)
bottom_overall_passing.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type